.footer-background {
  height: 40px;
  margin-top: -40px;
  background-color: #000000;
  opacity: 0.4;
  z-index: 2;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 40px;
  margin-top: -40px;
  color: white;
  z-index: 3;
}
