<app-header-component></app-header-component>
<div class="login-container">
  <div class="form-background"></div>
    <div class="form-group name-password-inputs">
      <span class="sign-in-text">Sign In</span>
      <div class="form-group input-group input-group-sm mb-3">
        <div class="input-group-prepend">
    <span class="input-group-text custom-icon-container" id="inputGroup-sizing-sm1">
      <a><i class="fa fa-user"></i></a>
    </span>
        </div>
        <input type="text" class="form-control" placeholder="username" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="form-group input-group  input-group-sm mb-3">
        <div class="input-group-prepend">
    <span class="input-group-text custom-icon-container" id="inputGroup-sizing-sm2">
      <a><i class="fa fa-key"></i></a>
    </span>
        </div>
        <input type="password" class="form-control" placeholder="password" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="form-group form-check remember-checkbox-and-text">
        <input type="checkbox" class="remember-checkbox form-check-input" id="check">
        <label class="form-check-label white-label" for="check">Remember Me</label>
      </div>
      <input class="btn yellow-btn" type="submit" value="Sign In">
    </div>
</div>
<app-footer-component></app-footer-component>
