<div class="task">
  <div class="task_upper-row">
    <div class="task_ids-container">
      <div class="task__id">Task 1234567</div>
      <div class="task__project-id">Project 9807</div>
    </div>
    <div class="task__priority">major</div>
    <div class="task__status">open</div>
  </div>
  <div class="task__description">Some description that serves for problem</div>
  <div class="task__additional-info">
    <div class="task__deadline">due date: April 03, 2018</div>
    <div class="task__estimation">estimation: 18h</div>
    <div class="task__assignee">assignee user: 673892</div>
    <div class="task__reporter">reporter user: 89376</div>
  </div>
  <div class="task_bottom-row">
    <div class="task__created-date">created: March 26, 2018</div>
    <div class="task__updated-date">last update: March 29, 2018</div>
  </div>
</div>

